Finns and Alcohol Consumption: Do Seasonal Changes in Weather Affect Our Drinking Habits? 
Sini Suihkonen, Outi Savolainen and Fanni Franssila

In [2]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [30]:
print()

In [14]:
def load_xls(file_name:str, year: int):
    dataframes = []
    months = ["Tammi", "Helmi", "Maalis", "Huhti", "Touko", "Kesä", "Heinä", "Elo", "Syys", "Loka", "Marras", "Joulu"]
    months_eng = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    xls = pd.ExcelFile(file_name)
    for (i, month) in enumerate(months):
        name_of_sheet = f"{month}kuu {year}"
        df = pd.read_excel(xls, name_of_sheet,skiprows=[0,1,2], usecols=("I"))
        # Add month column to the dataframe. For example "Tammikuu2020".
        df[f"{months_eng[i]}{year}"] = pd.concat([df.iloc[3:4], df.iloc[14:15], df.iloc[21:22], df.iloc[34:35]])
        # Drop rows with NaNs. After this we have only four rows containing total consumption for all types of alchohol.
        df = df.dropna()
        # Remove the first useless row of the dataframe.
        df = df.iloc[:, 1:]
        # Change index names
        df = df.rename(index={3:"Beer", 14:"Wine", 21:"Strong Wine", 34:"Spririts"})
        dataframes.append(df)
    total = pd.concat(dataframes, axis=1)
    
    return total

alc_data2020 = load_xls("Alkoholimyyntitilasto_tammi_joulukuu_2020.xlsx", 2020)
alc_data2019 = load_xls("Alkoholimyyntitilasto_tammi_joulukuu_2019.xlsx", 2019)
alc_data2018 = load_xls("Alkoholimyyntitilasto_tammi_joulukuu_2018.xlsx", 2018)
alc_data2017 = load_xls("Alkoholimyyntitilasto_tammi_joulukuu_2017.xlsx", 2017)
print(alc_data2020)
print(alc_data2019)
print()
print(alc_data2018)
print()
print(alc_data2017)
print()

             January2020 February2020 March2020 April2020 May2020 June2020  \
Beer             24824.0        24832     28384     32975   32232    43291
Wine              5675.0         6277      7240      9430    8331    11718
Strong Wine        146.0          147       152       170     149      162
Spririts          3978.0         4361      4955      5887    5483     8410

            July2020 August2020 September2020 October2020 November2020  \
Beer           36599      32270         29856       28856        26986
Wine           10699       8431          7311        7867         7202
Strong Wine      145         95           147         206          281
Spririts        7608       6377          5416        5859         4724

            December2020
Beer               36284
Wine               10834
Strong Wine          549
Spririts            6387
             January2019 February2019 March2019 April2019 May2019 June2019  \
Beer             24935.0        26538     29105     36692   34020    40329
Wine              5647.0         6240      7144      9470    8282    10456
Strong Wine        159.0          149       162       169     156      164
Spririts          3812.0         4058      5044      6245    5694     7521

            July2019 August2019 September2019 October2019 November2019  \
Beer           39285      33094    29278.0143  31161.7082        29648
Wine           10468       8473     6892.4918    7449.257         7528
Strong Wine      171        173       153.145     205.765          285
Spririts        7502       6188     4914.3512   5262.8885         5011

            December2019
Beer               34445
Wine               10351
Strong Wine          479
Spririts            6173

             January2018 February2018 March2018 April2018 May2018 June2018  \
Beer             24212.0         1858      2596      1854    1653     2074
Wine              6451.0            7         9         8       8       10
Strong Wine        161.0          883      1066       962     935     1079
Spririts          3787.0        35368     48107     46970   52413    57524

            July2018             August2018          September2018  \
Beer            1752  tuhatta litraa 201808  tuhatta litraa 201809
Wine               9                    122                     74
Strong Wine     1025                      1                      1
Spririts       58910                     36                     21

                       October2018           November2018  \
Beer         tuhatta litraa 201810  tuhatta litraa 201811
Wine                           130                    221
Strong Wine                      1                      1
Spririts                        20                     20

                      December2018
Beer         tuhatta litraa 201812
Wine                           433
Strong Wine                      2
Spririts                        22

             January2017 February2017 March2017 April2017 May2017 June2017  \
Beer             25346.0        28069     33848     36812   33262    42572
Wine              6613.0         7754      9336     11155    9828    13947
Strong Wine        169.0          168       192       184     174      197
Spririts          2236.0         2508      2961      3009    2794     3739

            July2017 August2017 September2017 October2017 November2017  \
Beer           37504      36328         31624       31169        31318
Wine           12197      10897          9227        8675         9177
Strong Wine      190        192           192         219          299
Spririts        3699       3280          2944        2683         2961

            December2017
Beer               38578
Wine               12572
Strong Wine          582
Spririts            4403

In [16]:
# WEATHER DATA
def load_csv(file_name:str):
    df_weather = pd.read_csv(file_name)

    # replace negative snow depth values
    df_weather["Lumensyvyys (cm)"].replace({-1: 0}, inplace=True)

    # Translate relevant column names into English
    df_weather = df_weather.rename(columns={"Kk": "Month", "Pilvien määrä (1/8)": "Cloud cover (1/8)", "Ilmanpaine (msl) (hPa)": "Air pressure(msl) (hPa)",
                                        "Sademäärä (mm)": "Precipitation (mm)", "Lumensyvyys (cm)": "Snow depth (cm)", "Ilman lämpötila (degC)": "Air temperature",
                                        "Tuulen nopeus (m/s)": "Wind speed (m/s)"})

    #count column means by month
    df_mean = df_weather.groupby("Month").mean()

    # drop year and day column
    df_mean = df_mean.iloc[: , 2:]

    # limit columns here 
    col = [0,1,2,5,6,11] 
    df_mean = df_mean.iloc[:,col]

    return df_mean

# SUN DATA
def load_sun_csv(file_name:str):
    df_sun = pd.read_csv(file_name, sep=",")

    # Drop the time zone, year, day and time of day
    df_sun = df_sun.drop(["Aikavyöhyke", "Vuosi", "Pv", "Klo"], axis=1)

    # Translate column names into English
    df_sun = df_sun.rename(columns={"Kk": "Month", "Paisteaika (s)": "Sunshine duration (s/min)"})

    # Take monthly mean for sunlight
    df_sun = df_sun.groupby("Month").mean()

    return df_sun


    
#Joensuu - Airport
weatherdata_JOE_2020 = load_csv("weather2020-JOE.csv")
weatherdata_JOE_2020 = weatherdata_JOE_2020.merge(load_sun_csv("sun2020-JOE.csv"), on="Month")
weatherdata_JOE_2019 = load_csv("weather2019-JOE.csv")
weatherdata_JOE_2019 = weatherdata_JOE_2019.merge(load_sun_csv("sun2019-JOE.csv"), on="Month")
weatherdata_JOE_2018 = load_csv("weather2018-JOE.csv")
weatherdata_JOE_2018 = weatherdata_JOE_2018.merge(load_sun_csv("sun2018-JOE.csv"), on="Month")
weatherdata_JOE_2017 = load_csv("weather2017-JOE.csv")
weatherdata_JOE_2017 = weatherdata_JOE_2017.merge(load_sun_csv("sun2017-JOE.csv"), on="Month")

#Helsinki - Kumpula
weatherdata_HEL_2020 = load_csv("weather2020-HEL.csv")
weatherdata_HEL_2020 = weatherdata_HEL_2020.merge(load_sun_csv("sun2020-HEL.csv"), on="Month")
weatherdata_HEL_2019 = load_csv("weather2019-HEL.csv")
weatherdata_HEL_2019 = weatherdata_HEL_2019.merge(load_sun_csv("sun2019-HEL.csv"), on="Month")
weatherdata_HEL_2018 = load_csv("weather2018-HEL.csv")
weatherdata_HEL_2018 = weatherdata_HEL_2018.merge(load_sun_csv("sun2018-HEL.csv"), on="Month")
weatherdata_HEL_2017 = load_csv("weather2017-HEL.csv")
weatherdata_HEL_2017 = weatherdata_HEL_2017.merge(load_sun_csv("sun2017-HEL.csv"), on="Month")

#Oulu - ?
#weatherdata_OULU_2020 = load_csv("weather2020-OULU.csv")
#weatherdata_OULU_2020 = weatherdata_OULU_2020.merge(load_sun_csv("sun2020-OULU.csv"), on="Month")
#weatherdata_OULU_2019 = load_csv("weather2019-OULU.csv")
#weatherdata_OULU_2019 = weatherdata_OULU_2019.merge(load_sun_csv("sun2019-OULU.csv"), on="Month")
#weatherdata_OULU_2018 = load_csv("weather2018-OULU.csv")
#weatherdata_OULU_2018 = weatherdata_OULU_2018.merge(load_sun_csv("sun2018-OULU.csv"), on="Month")
#weatherdata_OULU_2017 = load_csv("weather2017-OULU.csv")
#weatherdata_OULU_2017 = weatherdata_OULU_2017.merge(load_sun_csv("sun2017-OULU.csv"), on="Month")

weatherdata_HEL_2020.head()

,Cloud cover (1/8),Air pressure(msl) (hPa),Precipitation (mm),Snow depth (cm),Air temperature,Wind speed (m/s),Sunshine duration (s/min)
Month,,,,,,,
1,5.279195,1006.211544,0.101611,0.095302,2.464564,6.067651,3.004032
2,5.307471,996.947701,0.165468,0.051873,0.950287,5.952374,6.400862
3,4.404570,1012.706048,0.091129,0.031081,2.072581,5.260162,11.807796
4,3.668056,1009.423611,0.064534,0.066667,4.943750,4.715417,18.159722
5,2.829071,1013.596501,0.065949,0.000000,9.641992,4.185175,23.714670